argocd-apps:
  applications:
    backend:
      project: default
      source:
        repoURL: https://github.com/and-mora/expenses-monitor.git
        path: manifest/backend
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
        namespace: expenses-monitor
      syncPolicy:
        syncOptions:
          - CreateNamespace=false
    backend-rust:
      project: default
      source:
        repoURL: https://github.com/and-mora/expenses-monitor.git
        path: manifest/backend-rust
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
        namespace: expenses-monitor
      syncPolicy:
        syncOptions:
          - CreateNamespace=false
      ignoreDifferences:
        - group: ""
          kind: Service
          name: backend-rust
          jsonPointers:
            - /spec/clusterIP
            - /spec/clusterIPs
    keycloak:
      project: default
      source:
        repoURL: https://github.com/and-mora/expenses-monitor.git
        path: manifest/keycloak
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
        namespace: default
    frontend:
      project: default
      source:
        repoURL: https://github.com/and-mora/expenses-monitor.git
        path: manifest/frontend
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
        namespace: expenses-monitor
    frontend-companion:
      project: default
      source:
        repoURL: https://github.com/and-mora/expenses-monitor.git
        path: manifest/frontend-companion
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
        namespace: expenses-monitor
    tempo:
      project: default
      source:
        repoURL: https://github.com/and-mora/expenses-monitor.git
        path: manifest/tempo
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
        namespace: monitoring
    otel-collector:
      project: default
      source:
        repoURL: https://github.com/and-mora/expenses-monitor.git
        path: manifest/otel-collector
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
        namespace: monitoring
    loki:
      project: default
      source:
        repoURL: https://github.com/and-mora/expenses-monitor.git
        path: manifest/loki
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
        namespace: monitoring
    monitoring:
      project: default
      source:
        repoURL: https://github.com/and-mora/expenses-monitor.git
        path: manifest/monitoring
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
        namespace: monitoring
    postgresql:
      project: default
      source:
        repoURL: https://github.com/and-mora/expenses-monitor.git
        path: manifest/postgresql
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
        namespace: default
