<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="inputSideNav.toggle()" class="example-icon" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>expenses</span>
  <span class="example-spacer"></span>
  <a mat-icon-button href="https://github.com/and-mora/expenses-monitor" aria-label="Github" target="_blank"
    rel="noopener">
    <img _ngcontent-ng-c3202968170="" matbuttonicon="" src="../../../assets/img/github-logo-white.svg" width="24"
      height="24" alt="github" aria-hidden="true" class="logo">
  </a>

  <button mat-icon-button routerLink="/" class="example-icon favorite-icon" aria-label="Homepage" matTooltip="Homepage">
    <mat-icon>home</mat-icon>
  </button>
  @if (authenticated) {
    <div>
      <button mat-icon-button (click)="logout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  } @else {
    <button mat-icon-button routerLink="login" aria-label="Login" matTooltip="Logout">
      <mat-icon>login</mat-icon>
    </button>
  }
</mat-toolbar>