.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80svh;
}

mat-card {
    width: 400px;
    padding: 20px;
}

mat-form-field {
    width: 100%;
}

mat-card-content {
    display: flex;
    justify-content: center
}

button {
    width: 100%;
}

.centered-text {
    align-self: center;
}

.mat-mdc-card-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
