.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 10px;
    max-width: 400px;
}

.right-align {
    text-align: right;
}

mat-card {
    width: 100%;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}

.centered-text {
    align-self: center;
}

.tag-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.tag-item mat-form-field {
    flex: 1;
    margin-right: 8px;
    /* This is a hack to make the input field take up the remaining space */
    width: 10px;
}

.no-tags-message {
    color: lightgrey;
    text-align: center;
    margin-bottom: 10px;
}

.tags-form-buttons {
    margin: 10px;
}

.tags-form-buttons button {
    margin: 10px 5px;
}

.green-icon {
    color: green;
    font-size: 48px;
    font-weight: bold;
    height: 48px;
    width: 48px;
}

.success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select-placeholder-container {
    display: flex;
    align-items: center;
}

.select-placeholder-container>span {
    flex: 1;
}
