.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 20px;
    max-width: 400px;
}

.right-align {
    text-align: right;
}

mat-card {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}
