<div class="container">
    <mat-stepper orientation="vertical" linear=true #stepper>
        <mat-step [stepControl]="addPaymentForm">
            <ng-template matStepLabel>Compila un nuovo pagamento</ng-template>
            <div class="form">
                <form [formGroup]="addPaymentForm" class="form">
                    <mat-form-field appearance="outline">
                        <mat-label>Esercente</mat-label>
                        <input matInput formControlName="merchantName">
                        @if (hasError('merchantName', 'required')) {
                        <mat-error>Campo obbligatorio.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Importo</mat-label>
                        <input matInput type="number" class="right-align" placeholder="0,00" formControlName="amount">
                        <span matTextPrefix>€&nbsp;</span>
                        @if (hasError('amount', 'required')) {
                        <mat-error>Campo obbligatorio.</mat-error>
                        }
                        @if (hasError('amount', 'min')) {
                        <mat-error>Numero positivo richiesto.</mat-error>
                        }
                    </mat-form-field>
                    <mat-radio-group aria-label="Select an option" formControlName="type">
                        <mat-radio-button value="1">Income</mat-radio-button>
                        <mat-radio-button value="-1">Outcome</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field appearance="outline">
                        @if (isCategoriesLoading) {
                        <mat-label>
                            <div class="select-placeholder-container">
                                <span>Loading... </span>
                                <mat-spinner diameter="24"></mat-spinner>
                            </div>
                        </mat-label>
                        }
                        @else {
                        <mat-label>Categoria</mat-label>
                        }
                        <input matInput placeholder="Scegli una categoria" formControlName="category"
                            [matAutocomplete]="catAuto">
                        @if (hasError('category', 'required')) {
                        <mat-error>Campo obbligatorio.</mat-error>
                        }
                        <mat-autocomplete autoActiveFirstOption #catAuto="matAutocomplete">
                            @for (option of filteredCategories | async; track option) {
                            <mat-option [value]="option">{{option}}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        @if (isWalletLoading) {
                        <mat-label>
                            <div class="select-placeholder-container">
                                <span>Loading... </span>
                                <mat-spinner diameter="24"></mat-spinner>
                            </div>
                        </mat-label>
                        }
                        @else {
                        <mat-label>Wallet</mat-label>
                        }

                        <mat-select formControlName="wallet" placeholder="Scegli un Wallet">
                            @for (wallet of wallets; track wallet.name) {
                            <mat-option [value]="wallet.name">{{wallet.name}}</mat-option>
                            }
                        </mat-select>
                        @if (hasError('wallet', 'required')) {
                        <mat-error>Campo obbligatorio</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Data esecuzione</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="accountingDate">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        @if (hasError('accountingDate', 'required')) {
                        <mat-error>Campo
                            obbligatorio.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Descrizione</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button matStepperNext>Avanti</button>
                    </div>
                </form>
            </div>
        </mat-step>

        <mat-step [stepControl]="tagsForm" optional>
            <div class="form">
                <ng-template matStepLabel>Aggiungi tag</ng-template>
                <button mat-fab extended type="button" (click)="addTag()">
                    <mat-icon>add</mat-icon>
                    Tag
                </button>
                <form [formGroup]="tagsForm" class="form">
                    <div formArrayName="tags">
                        @for (tag of tags.controls; track tag; let i = $index) {
                        <div [formGroupName]="i" class="tag-item">
                            <mat-form-field appearance="outline">
                                <mat-label>Key</mat-label>
                                <input matInput formControlName="key">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Value</mat-label>
                                <input matInput formControlName="value">
                            </mat-form-field>
                            <button mat-icon-button color="warn" (click)="removeTag(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        }
                        @empty {
                        <div class="no-tags-message">
                            <span>Nessun tag inserito</span>
                        </div>
                        }
                    </div>
                    <div class="tags-form-buttons">
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button (click)="stepper.reset()">Reset</button>
                        <button mat-raised-button (click)="onSubmit(stepper)" color="primary" type="submit"
                            [disabled]="!addPaymentForm.valid || !tagsForm.valid">Aggiungi pagamento</button>
                    </div>
                </form>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Completato</ng-template>
            <div class="centered-text">
                @if (!errorMessage) {
                <h1 class="success-message">
                    Il pagamento è stato inserito con successo!
                    <mat-icon class="green-icon">done</mat-icon>
                </h1>
                }
                @if (errorMessage) {
                <mat-error class="centered-text">{{ errorMessage }}</mat-error>
                }
                <button mat-raised-button color="primary" (click)="stepper.reset()">Aggiungi un altro pagamento</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>