<div class="container">
    <mat-stepper orientation="vertical" linear=true #stepper>
        <mat-step [stepControl]="addPaymentForm">
            <ng-template matStepLabel>Compila un nuovo pagamento</ng-template>
            <div class="form">
                <form [formGroup]="addPaymentForm" class="form">
                    <mat-form-field appearance="outline">
                        <mat-label>Esercente</mat-label>
                        <input matInput formControlName="merchantName">
                        <mat-error *ngIf="hasError('merchantName', 'required')">Campo obbligatorio.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Importo</mat-label>
                        <input matInput type="number" class="right-align" placeholder="0,00" formControlName="amount">
                        <span matTextPrefix>€&nbsp;</span>
                        <mat-error *ngIf="hasError('amount', 'required')">Campo obbligatorio.</mat-error>
                        <mat-error *ngIf="hasError('amount', 'min')">
                            Numero positivo richiesto.
                        </mat-error>
                    </mat-form-field>
                    <mat-radio-group aria-label="Select an option" formControlName="type">
                        <mat-radio-button value="1">Income</mat-radio-button>
                        <mat-radio-button value="-1">Outcome</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field appearance="outline">
                        <mat-label>Categoria</mat-label>
                        <input matInput placeholder="Pick one" formControlName="category" [matAutocomplete]="catAuto">
                        <mat-error *ngIf="hasError('category', 'required')">Campo obbligatorio.</mat-error>
                        <mat-autocomplete autoActiveFirstOption #catAuto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredCategories | async"
                                [value]="option">{{option}}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Wallet</mat-label>
                        <input matInput placeholder="Pick one" formControlName="wallet" [matAutocomplete]="walAuto">
                        <mat-error *ngIf="hasError('wallet', 'required')">Campo obbligatorio.</mat-error>
                        <mat-autocomplete autoActiveFirstOption #walAuto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredWallets | async"
                                [value]="option">{{option}}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Data esecuzione</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="accountingDate">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="hasError('accountingDate', 'required')">Campo
                            obbligatorio.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Descrizione</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button matStepperNext>Avanti</button>
                    </div>
                </form>
            </div>
        </mat-step>

        <mat-step [stepControl]="tagsForm" optional>
            <div class="form">
                <ng-template matStepLabel>Aggiungi tag</ng-template>
                <button mat-fab extended type="button" (click)="addTag()">
                    <mat-icon>add</mat-icon>
                    Tag
                </button>
                <form [formGroup]="tagsForm" class="form">
                    <div *ngIf="tags.length === 0" class="no-tags-message">
                        <span>Nessun tag inserito</span>
                    </div>
                    <div formArrayName="tags">
                        <div *ngFor="let tag of tags.controls; let i=index" [formGroupName]="i" class="tag-item">
                            <mat-form-field appearance="outline">
                                <mat-label>Key</mat-label>
                                <input matInput formControlName="key">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Value</mat-label>
                                <input matInput formControlName="value">
                            </mat-form-field>
                            <button mat-icon-button color="warn" (click)="removeTag(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="tags-form-buttons">
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button (click)="stepper.reset()">Reset</button>
                        <button mat-raised-button (click)="onSubmit(stepper)" color="primary" type="submit"
                            [disabled]="!addPaymentForm.valid || !tagsForm.valid">Aggiungi pagamento</button>
                    </div>
                </form>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Completato</ng-template>
            <div class="centered-text">
                <h1 class="success-message" *ngIf="!errorMessage">
                    Il pagamento è stato inserito con successo!
                    <mat-icon class="green-icon">done</mat-icon>
                </h1>
                <mat-error class="centered-text" *ngIf="errorMessage">{{ errorMessage }}</mat-error>
                <button mat-raised-button color="primary" (click)="stepper.reset()">Aggiungi un altro pagamento</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>