.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 20px;
    max-width: 400px;
}

.right-align {
    text-align: right;
}

mat-card {
    width: 100%;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}

.centered-text {
    align-self: center;
}

.tag-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.tag-item mat-form-field {
    flex: 1;
    margin-right: 8px;
    width: 10px;
}
