.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 20px;
    max-width: 600px;
    /* width: 100%; */
}

.right-align {
    text-align: right;
}

mat-card {
    align-items: center;
}

.wallet-list-card-content {
    width: 100%;
}

mat-list-item {
    display: flex;
    width: 100%;
}

.wallet-list {
    width: 100%;
    margin-bottom: 20px;
    max-width: 400px;
}

.wallet-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wallet-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

mat-icon-button {
    margin-left: 10px;
}
