### Pipeline with 3 jobs:
### - semantic versioning
### - release
### - deploy

name: Release and Deploy

on:
  push:
    branches: [ master ]

jobs:
  SemanticVersioning:
    name: SemanticVersioning
    runs-on: ubuntu-latest
    environment: prod
    outputs:
      backend_changed: ${{ steps.backend-versioning.outputs.changed }}
      backend_version_tag: ${{ steps.backend-versioning.outputs.version_tag }}
      backend_rust_changed: ${{ steps.backend-rust-versioning.outputs.changed }}
      backend_rust_version_tag: ${{ steps.backend-rust-versioning.outputs.version_tag }}
      frontend_changed: ${{ steps.frontend-versioning.outputs.changed }}
      frontend_version_tag: ${{ steps.frontend-versioning.outputs.version_tag }}
      frontend_companion_changed: ${{ steps.frontend-companion-versioning.outputs.changed }}
      frontend_companion_version_tag: ${{ steps.frontend-companion-versioning.outputs.version_tag }}
      database_changed: ${{ steps.database-versioning.outputs.changed }}
      database_version_tag: ${{ steps.database-versioning.outputs.version_tag }}
      monitoring_changed: ${{ steps.monitoring-versioning.outputs.changed }}
      monitoring_version_tag: ${{ steps.monitoring-versioning.outputs.version_tag }}
      keycloak_changed: ${{ steps.keycloak-versioning.outputs.changed }}
      keycloak_version_tag: ${{ steps.keycloak-versioning.outputs.version_tag }}
      argocd_changed: ${{ steps.argocd-versioning.outputs.changed }}
      argocd_apps_changed: ${{ steps.argocd-apps-versioning.outputs.changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7
        with:
          fetch-depth: 0

      - name: Backend Version
        id: backend-versioning
        uses: paulhatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3 #v5.4.0
        with:
          change_path: "backend"
          namespace: backend
          major_pattern: "breaking"
          minor_pattern: "feat"

      - name: Backend Rust Version
        id: backend-rust-versioning
        uses: paulhatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3 #v5.4.0
        with:
          change_path: "backend-rust"
          namespace: backend-rust
          major_pattern: "breaking"
          minor_pattern: "feat"

      - name: Frontend Version
        id: frontend-versioning
        uses: paulhatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3 #v5.4.0
        with:
          change_path: "frontend"
          namespace: frontend
          major_pattern: "breaking"
          minor_pattern: "feat"

      - name: Frontend Companion Version
        id: frontend-companion-versioning
        uses: paulhatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3 #v5.4.0
        with:
          change_path: "expense-companion"
          namespace: expense-companion
          major_pattern: "breaking"
          minor_pattern: "feat"

      - name: Database Version
        id: database-versioning
        uses: paulhatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3 #v5.4.0
        with:
          change_path: "database"
          namespace: database
          major_pattern: "breaking"
          minor_pattern: "feat"

      - name: Monitoring Version
        id: monitoring-versioning
        uses: paulhatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3 #v5.4.0
        with:
          change_path: "monitoring"
          namespace: monitoring
          major_pattern: "breaking"
          minor_pattern: "feat"

      - name: Keycloak Version
        id: keycloak-versioning
        uses: paulhatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3 #v5.4.0
        with:
          change_path: "manifest/keycloak"
          namespace: keycloak
          major_pattern: "breaking"
          minor_pattern: "feat"

      - name: ArgoCD Version
        id: argocd-versioning
        uses: paulhatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3 #v5.4.0
        with:
          change_path: "manifest/argocd"
          namespace: argocd
          major_pattern: "breaking"
          minor_pattern: "feat"

      - name: ArgoCD Apps Version
        id: argocd-apps-versioning
        uses: paulhatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3 #v5.4.0
        with:
          change_path: "manifest/argocd-apps"
          namespace: argocd
          major_pattern: "breaking"
          minor_pattern: "feat"

  BackendRelease:
    needs: SemanticVersioning
    uses: ./.github/workflows/release.yml
    with:
      tag: ${{needs.SemanticVersioning.outputs.backend_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.backend_changed}}

  BackendBuildAndPush:
    needs: [ SemanticVersioning, BackendRelease ]
    uses: ./.github/workflows/build-push-workflow.yml
    with:
      version: ${{needs.SemanticVersioning.outputs.backend_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.backend_changed}}
      folder: backend
    secrets: inherit

  BackendDeployK8s:
    needs: [ BackendBuildAndPush ]
    uses: ./.github/workflows/deploy_backend.yml
    secrets: inherit

  BackendApiTest:
    needs: [ BackendDeployK8s ]
    uses: ./.github/workflows/api_test.yml
    secrets: inherit

  BackendRustRelease:
    needs: SemanticVersioning
    uses: ./.github/workflows/release.yml
    with:
      tag: ${{needs.SemanticVersioning.outputs.backend_rust_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.backend_rust_changed}}

  BackendRustBuildAndPush:
    needs: [ SemanticVersioning, BackendRustRelease ]
    uses: ./.github/workflows/build-push-workflow.yml
    with:
      version: ${{needs.SemanticVersioning.outputs.backend_rust_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.backend_rust_changed}}
      folder: backend-rust
    secrets: inherit

  BackendRustDeployK8s:
    needs: [ BackendRustBuildAndPush ]
    uses: ./.github/workflows/deploy_backend_rust.yml
    secrets: inherit

  DatabaseRelease:
    needs: SemanticVersioning
    uses: ./.github/workflows/release.yml
    with:
      tag: ${{needs.SemanticVersioning.outputs.database_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.database_changed}}

  DatabaseDeploy:
    needs: [ SemanticVersioning, DatabaseRelease ]
    uses: ./.github/workflows/deploy_database.yml
    with:
      version: ${{needs.SemanticVersioning.outputs.database_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.database_changed}}
    secrets: inherit

  FrontendRelease:
    needs: SemanticVersioning
    uses: ./.github/workflows/release.yml
    with:
      tag: ${{needs.SemanticVersioning.outputs.frontend_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.frontend_changed}}

  FrontendBuildAndPush:
    needs: [ SemanticVersioning, FrontendRelease ]
    uses: ./.github/workflows/build-push-workflow.yml
    with:
      version: ${{needs.SemanticVersioning.outputs.frontend_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.frontend_changed}}
      folder: frontend
    secrets: inherit

  FrontendCompanionRelease:
    needs: SemanticVersioning
    uses: ./.github/workflows/release.yml
    with:
      tag: ${{needs.SemanticVersioning.outputs.frontend_companion_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.frontend_companion_changed}}

  FrontendCompanionBuildAndPush:
    needs: [ SemanticVersioning, FrontendCompanionRelease ]
    uses: ./.github/workflows/build-push-workflow.yml
    with:
      version: ${{needs.SemanticVersioning.outputs.frontend_companion_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.frontend_companion_changed}}
      folder: expense-companion
    secrets: inherit

  MonitoringRelease:
    needs: SemanticVersioning
    uses: ./.github/workflows/release.yml
    with:
      tag: ${{needs.SemanticVersioning.outputs.monitoring_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.monitoring_changed}}

  KeycloakRelease:
    needs: SemanticVersioning
    uses: ./.github/workflows/release.yml
    with:
      tag: ${{needs.SemanticVersioning.outputs.keycloak_version_tag}}
      enabled: ${{needs.SemanticVersioning.outputs.keycloak_changed}}

  ArgoCDDeploy:
    needs: SemanticVersioning
    uses: ./.github/workflows/deploy_argocd.yml
    with:
      enabled: ${{needs.SemanticVersioning.outputs.argocd_changed}}
    secrets: inherit

  ArgoCDAppsDeploy:
    needs: SemanticVersioning
    uses: ./.github/workflows/deploy_argocd_apps.yml
    with:
      enabled: ${{needs.SemanticVersioning.outputs.argocd_apps_changed}}
    secrets: inherit
